 @font-face {
     font-family: "netflix-sans";
     font-weight: 400;
     src: url("fonts/netflixsans-light-webfont.woff");
     font-style: normal;
 }

 @font-face {
     font-family: "netflix-medium";
     font-weight: 400;
     src: url("/fonts/netflixsans-medium-webfont.woff");
     font-style: normal;
 }

 @font-face {
     font-family: "netflix";
     src: url("/fonts/netflixsans-bold-webfont.woff");
     font-style: normal;
     font-weight: 600;
 }

 *,
 *::before,
 *::after {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     background: #000;
     font-family: 'netflix-sans', sans-serif;
 }

 .container header {
     z-index: 1000000;
     position: absolute;
     top: 0;
     left: 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     padding: 14px 50px 0 30px;
     font-size: 16px;
 }

 .container .sign-in-cta {
     text-decoration: none;
     color: white;
     background: #e50914;
     padding: 6px 14px;
     border-radius: 3px;
 }

 .sign-in-cta:hover {
     background: #de4429;
 }

 .cards {
     background-color: transparent;
 }

 .unlimited-section {
     width: 100%;
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .card:before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 400px;
     z-index: 1;
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.007))
 }

 .card:after {
     content: '';
     position: absolute;
     border-bottom: 0.5rem solid rgb(34, 34, 34);
     bottom: 0;
     left: 0;
     width: 100%;
     height: 400px;
     z-index: 1;
     background: linear-gradient(to top, rgba(0, 0, 0, 0.349), transparent)
 }

 .card .fit {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     object-fit: cover;
 }

 .unlimited-section .cta-button-container,
 .unlimited-section .card-text {
     position: relative;
     z-index: 100000;
     top: 20%;
 }

 .unlimited-section .card-text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 .unlimited-section h1 {
     color: white;
     font-size: 46px;
     letter-spacing: 0.5px;
     font-weight: 200;
     width: 70%;
     font-family: 'netflix-medium', sans-serif;
 }

 .unlimited-section h2 {
     font-size: 21px;
     color: white;
     font-weight: 400;
     padding: 0.2rem 0;
 }

 form h3 {
     font-size: 18px;
     color: #fff;
     padding: 15px 0 20px 0;
     font-weight: lighter;
 }

 .email-form-wrapper {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 input {
     font-size: 16px;
     border: 1px solid #8c8c8c;
     outline: none;
     color: #000;
     border-radius: 2px;
     padding: 10px 10px 0px 7px;
     min-width: 400px;
     height: 57px;
     align-items: center;
 }

 form a {
     text-decoration: none;
     color: white;
     font-weight: 400;
     letter-spacing: 0.1px;
     border-radius: 2px;
     background: #e50914;
     box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
     font-size: 1.23rem;
     line-height: 58px;
     min-width: 160px;
     padding: 0 1px;
 }

 a:hover {
     background: #de4429;
 }

 /* GENERALLY COMMON STYLES */
 .kidsValue,
 .watch-on-tv,
 .download-show {
     min-height: 60vh;
     border-bottom: 0.5rem solid rgb(34, 34, 34);
     justify-content: center;
     width: 100%;
     align-items: center;
     display: flex;

 }

 .kidsValue .animation-card-container,
 .download-show .animation-card-container,
 .watch-on-tv .animation-card-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 1250px;
     align-items: center;
     gap: 50px;
 }

 h1 {
     font-family: 'netflix-medium';
     line-height: 1.1;
     font-weight: 700px;
     font-size: 45px;
     margin: 0 0 8px;
     color: #fff;
     font-weight: lighter;
     letter-spacing: 0.5px;

 }

 h2 {
     font-size: 21px;
     margin: 15px 0 15px;
     font-weight: lighter;
     letter-spacing: 0.29px;
     color: #fff;

 }

 /* SECTION TWO */

 .watch-on-tv .card-text {
     margin-left: 9em;
     width: 38%;
     font-family: 'netflix-sans', Arial;
 }

 .watch-on-tv .card-video {
     width: 380px;
     position: absolute;
     top: 115%;
     left: 60%;
 }

 .watch-on-tv {
     height: 85vh;
 }

 .watch-on-tv img {
     width: 500px;
     position: absolute;
     top: 102%;
     left: 55%;
 }

 /* THIRD SECTION */
 .download-show {
     height: 75vh;
 }

 .download-img {
     width: 482px;
     top: 180%;
     left: 6%;

     position: absolute;

 }


 .stranger-things-img {
     width: 52px;
     height: 72px;
 }

 .download-show .card-animation {
     display: grid;
     grid-template-columns: 20% 60% 20%;
     border: 2px solid #8c8c8c7f;
     width: 330px;
     height: 100px;
     align-items: center;
     position: absolute;
     top: 220%;
     left: 12.5%;
     border-radius: 10px;
     background: #000;
     z-index: 10;
     box-shadow: 0 0 2em 0 #000;
     padding-left: 15px;

 }

 .download-show .card-text {
     width: 40%;
     display: static;
     margin-right: 80px;
 }

 .text-0 {
     color: #fff;
     font-weight: 600;
 }

 .text-1 {
     color: #0071eb;
 }

 .download-gif {
     width: 48px;
 }

 .watch-on-device {
     display: flex;
     flex-direction: column;
 }

 /* SECTION 4 */
 .watchOnDevice {
     height: 35vh;
     border-bottom: 0.5rem solid rgb(34, 34, 34);
     align-items: center;
     display: flex;

 }

 .watchOnDevice .animation-card-container {
     width: 58%;
     margin: 0 20px 0 150px;
 }

 .watchOnDevice .card-text {
     width: 60%;
 }

 /* SECTION 5 */

 .kidsValue img {
     width: 482px;
     margin-left: 100px;
 }

 .kidsValue .card-text {
     width: 45%;
     margin-right: 91px;
 }

 /* SECTION 6 */
 .faq {
     border-bottom: 0.5rem solid rgb(34, 34, 34);
     min-height: 87vh;
 }

 .faq {
     height: 133vh;
 }

 .faq h1 {
     text-align: center;
     margin: 70px 0 40px;
 }

 .faq-list {
     width: 60%;
     margin: 0 auto;
 }

 details {
     background-color: #303030;
     margin: 0 auto;
     margin: 0 0 10px;
     font-size: 18px;

 }


 details>summary {
     margin: 0 0 1px;
     padding: 21px 39.6px 21px 21.6px;
     list-style: none;
     font-size: 24px;
     color: white;
 }

 details img {
     display: inline-block;
     flex-direction: column;
     position: absolute;
     left: 75%;
 }
.faq a{
    padding-left: 10px;
}
 details p {
     font-size: 25px;
     color: white;
     padding: 1.5rem;
 }

 .faq h3 {
     text-align: center;
 }

 .faq form {
     margin: 3rem 0 0 0;
 }

 /* SECTION SEVEN */
 .cards .footer {
     width: 58%;
     margin: 60px 60px 10px 200px;
 }

 .footer-wrapper {
     height: 40vh;
 }

 .footer-links {
     display: flex;
     justify-content: space-between;
 }

 .footer-top a,
 .footer-links a {
     text-decoration: none;
     letter-spacing: 0.5px;
     color: #737373;
     line-height: 28px;

 }

 .footer-top {
     margin: 1.5em 0;
     font-size: 15px;
 }

 .footer-links a {
     font-size: 12px;
 }

 .footer-country span {
     color: #737373;
     font-size: 13px;
 }

 .footer-country {
     margin-top: 37px;
     letter-spacing: 0.5px;
 }